@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #533CF5;
    --accent-color-dark: #7E7E7E;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.small-bold-text {
    font-size: 0.95rem;
    font-weight: 600;
}

.secondary-button {
    padding: 12px 24px;
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    transition: 0.2s ease-out;
    font-weight: 700;
    color: black;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.primary-button {
    font-weight: 700;
    background-color: var(--accent-color);
    border-radius: 6px;
    padding: 12px 24px;
    color: white !important;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.top-banner {
    background-color: #533CF5;
    background-image: url('./asset\ 32.png');
    background-size: 300px;
}

.banner-text {
    color: white;
    padding: 15px;
    text-align: center;
}

.header-section {
    padding-top: 50px;
    gap: 50px;
    justify-content: center;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-left a {
    margin-top: 20px;
}

.header-right img {
    width: 600px;
}

.features {
    padding: 80px var(--padding-inline-section);
    background-image: url(./asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
    padding-bottom: 10px;
}

.features-header h2 {
    margin-bottom: 20px;
}

.features-area {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

features-card img {
    width: 60px;
}